In [3]:
import mysql.connector
from mysql.connector import connection
from mysql.connector import errorcode

### Make DB Connection

In [64]:
try:
     cnx = connection.MySQLConnection(user='root', password='', host='127.0.0.1', database='e_commerce')
     cursor = cnx.cursor()
     DB_NAME = "test"
     cursor.execute("USE {}".format(DB_NAME))
    
except mysql.connector.Error as err:
    print(err)
else:
    pass
    #cnx.close()

#### Tables variable which store all tables design

In [3]:
TABLES = {}

#### Design of Customer Table

In [ ]:
 TABLES['customer'] = (
    "CREATE TABLE `customer` ("
    "  `cust_id` int NOT NULL AUTO_INCREMENT,"
    "  `cust_name` varchar(100) NOT NULL,"
    "  `cust_email` varchar(100) NOT NULL,"
    "  `cust_contact` varchar(100) NOT NULL,"
    "   CHECK(`cust_email` like '%___@___%'),"
    "   PRIMARY KEY (`cust_id`)"
    ") ")

In [ ]:
TABLES['cust_address'] = (
    "CREATE TABLE `cust_address` ("
    "`cust_id` int NOT NULL,"
    "`city` varchar(100) NOT NULL,"
    "`state` varchar(100) NOT NULL,"
    "foreign key (`cust_id`) REFERENCES customer(`cust_id`) on delete cascade"
    ")")

In [ ]:
TABLES['category'] = (
    "CREATE TABLE `category` ("
    "`cat_id` int not null AUTO_INCREMENT,"
    "`cat_name` varchar(100) not null,"
    "`cat_description` text not null,"
    "primary key (`cat_id`)"
    ")")

In [ ]:
TABLES['retailer'] = (
    "CREATE TABLE `retailer` ("
    "`ret_id` int not null auto_increment,"
    "`ret_name` varchar(100) not null,"
    "`ret_address` varchar(100) not null,"
    "`ret_city` varchar(100) not null,"
    "`ret_state` varchar(100) not null,"
    "`ret_email` varchar(100) not null,"
    "`ret_contact` varchar(100) not null,"
    "CHECK (`ret_email` like '%__@___%'),"
    "primary key (`ret_id`)"
    ")")

In [ ]:
TABLES['brand'] = (
    "CREATE TABLE `brand` ("
    "`b_id` int not null auto_increment,"
    "`b_name` varchar(100) not null,"
    "`b_des` text not null,"
    "primary key (`b_id`)"
    ")")

In [51]:
TABLES['prod_details'] = (
    "CREATE TABLE `prod_details` ("
    "`p_id` int not null auto_increment,"
    "`p_name` varchar(100) not null,"
    "`p_price` int not null,"
    "`p_type` varchar(100) not null,"
    "`p_vndr_id` int not null,"
    "`p_desc` varchar(100) not null,"
    "`p_quantity` int not null,"
    "`p_add_dt` date not null,"
    "`p_vw_count` int not null,"
    "`p_vw_date` date not null,"
    "`p_cat_id` int not null,"
    "`p_b_id` int not null,"
    "primary key (`p_id`),"
    "foreign key (`p_cat_id`) references category(`cat_id`) on delete cascade,"
    "foreign key (`p_b_id`) references brand (`b_id`) on delete cascade"
    ")")

In [60]:
TABLES['book'] = (
    "CREATE TABLE `book` ("
    "`book_id` int not null auto_increment,"
    "`book_p_id` int not null,"
    "`book_c_id` int not null default 1,"
    "`book_author` varchar(100) not null,"
    "`book_publ_date` date not null,"
    " primary key (`book_id`),"
    "foreign key (`book_p_id`) references  prod_details(`p_id`) on delete cascade,"
    "foreign key (`book_c_id`) references  category(`cat_id`) on delete cascade"
    ")")

In [4]:
TABLES['review'] = (
    "CREATE TABLE `review` ("
    "`rid` int not null auto_increment,"
    "`pid` int not null,"
    "`cid` int default -1,"
    "`cname` varchar(60) not null default 'Anonymous',"
    "`rating` int not null,"
    "`review` text not null,"
    " primary key (rid),"
    " foreign key (`pid`) references prod_details(`p_id`) on delete cascade,"
    " foreign key (`cid`) references customer(`cust_id`) on delete set null"
    ")")

In [19]:
TABLES['Diwali_Deals'] = (
    "CREATE TABLE `Diwali_Deals` ("
    "`p_id` int not null auto_increment,"
    "`p_name` varchar(100) not null,"
    "`p_price` int not null,"
    "`p_type` varchar(100) not null,"
    "`p_vndr_id` int not null,"
    "`p_desc` varchar(100) not null,"
    "`p_quantity` int not null,"
    "`p_add_dt` date not null,"
    "`p_vw_count` int not null,"
    "`p_vw_date` date not null,"
    "`p_cat_id` int not null,"
    "`p_b_id` int not null,"
    "primary key (`p_id`),"
    "foreign key (`p_cat_id`) references category(`cat_id`) on delete cascade,"
    "foreign key (`p_b_id`) references brand (`b_id`) on delete cascade"
    ")")

In [22]:
TABLES['carts'] = (
    "CREATE TABLE `carts` ("
    "`cart_id` int not null auto_increment,"
    "`cart_cust_id` int not null,"
    "`cart_add_date` date not null,"
    " primary key (`cart_id`),"
    " foreign key (`cart_cust_id`) references customer (`cust_id`) on delete cascade"
    ")")

In [25]:
TABLES['cart_details'] = (
    "CREATE TABLE `cart_details` ("
    "`cart_id` int not null,"
    "`cart_prd_id` int not null,"
    "`cart_prd_qunt` int not null,"
    " foreign key (`cart_id`) references carts (`cart_id`) on delete cascade,"
    " foreign key (`cart_prd_id`) references prod_details (`p_id`) on delete cascade"
    ")")

In [35]:
TABLES['orders'] = (
    "CREATE TABLE `orders` ("
    "`ord_id` int not null auto_increment,"
    "`ord_cust_id` int not null,"
    "`ord_add_date` date not null,"
    " primary key (`ord_id`),"
    " foreign key (`ord_cust_id`) references customer (`cust_id`) on delete cascade"
    ")")

In [38]:
TABLES['ord_details'] = (
    "CREATE TABLE `ord_details` ("
    "`ord_id` int not null,"
    "`ord_prd_id` int not null,"
    "`ord_prd_qunt` int not null,"
    " foreign key (`ord_id`) references orders (`ord_id`) on delete cascade,"
    " foreign key (`ord_prd_id`) references prod_details (`p_id`) on delete cascade"
    ")")

In [39]:
print(len(TABLES))

6

#### create tables in DB

In [ ]:
cursor.execute(TABLES['customer'])
cnx.commit()

In [ ]:
cursor.execute(TABLES['cust_address'])
cnx.commit()

In [ ]:
cursor.execute(TABLES['category'])
cnx.commit()

In [ ]:
cursor.execute(TABLES['retailer'])
cnx.commit()

In [46]:
cursor.execute(TABLES['brand'])
cnx.commit()

In [52]:
cursor.execute(TABLES['prod_details'])
cnx.commit()

In [62]:
cursor.execute(TABLES['book'])
cnx.commit()

In [6]:
cursor.execute(TABLES['review'])
cnx.commit()

In [21]:
cursor.execute(TABLES['Diwali_Deals'])
cnx.commit()

In [24]:
cursor.execute(TABLES['carts'])
cnx.commit()

In [27]:
cursor.execute(TABLES['cart_details'])
cnx.commit()

In [37]:
cursor.execute(TABLES['orders'])
cnx.commit()

In [40]:
cursor.execute(TABLES['ord_details'])
cnx.commit()

## insert data into tables

#### Customer Table

In [ ]:
sql_customer =  ("INSERT INTO customer "
                 "(cust_name, cust_email, cust_contact) "
                 "VALUES (%s, %s, %s)")

In [ ]:
customers = [ ('Sohan', 'jkl@yahoo.com', '5678'),
              ( 'Ajay', 'ajy@yahoo.com', '3478'),
              ( 'Lavish', 'lavi@outlook.com', '2678'),
              ( 'Akanksha', 'akn@outlook.com', '3456'),
              ( 'Akshita', 'akki@yahoo.com', '4897')]

In [ ]:
cursor.executemany(sql_customer,customers)
cnx.commit()

#### Customer Address

In [ ]:
sql_cust_address =  ("INSERT INTO cust_address "
                    "(cust_id, city, state) "
                    "VALUES (%s, %s, %s)")

In [ ]:
cust_address = [ (1, 'Mumbai', 'Maharashtra'),
                 (1, 'Pune', 'Maharashtra'),
                 (2, 'Delhi', 'Delhi'),
                 (3, 'Ajmer', 'Rajasthan'),
                 (4, 'Jaipur', 'Rajasthan'),
                 (5, 'Kota', 'Rajasthan'),
                 (6, 'Pune', 'Maharashtra'),
                 (7, 'Ahemdabad', 'Gujrat')]

In [ ]:
cursor.executemany(sql_cust_address,cust_address)
cnx.commit()

#### Category

In [ ]:
sql_category =  ("INSERT INTO category"
                 "(cat_name, cat_description) "
                 "VALUES (%s, %s)")

In [ ]:
category = [( 'Book', 'xxx'),
            ( 'Electronics', 'xxx'),
            ( 'Furniture', 'xxx')]

In [ ]:
cursor.executemany(sql_category,category)
cnx.commit()

#### Retailer

In [ ]:
sql_retailer =  ("INSERT INTO retailer"
                 "(ret_name, ret_address, ret_city, ret_state, ret_email, ret_contact)"
                 "VALUES (%s, %s, %s, %s, %s, %s)")

In [ ]:
retailer = [('BigWorld', 'Bangalore', 'Bangalore', 'Karnatka', 'bw @gmail.com', '1234'),
            ('DASM', 'Bangalore', 'Bangalore', 'Karnatka', 'da@gmail.com', '6766'),
            ('GKP', 'Hyderabad', 'Hyderabad', 'Telangana', 'gkp@gmail.com', '9999'),
            ('Lepakshi', 'Mumbai', 'Mumbai', 'Maharashtra', 'le@gmail.com', '0871'),
            ('Peepul', 'Mumbai', 'Mumbai', 'Maharashtra', 'pee@gmail.com', '5723'),
            ('luxe', 'Pune', 'Pune', 'Maharashtra', 'lu@gmail.com', '6021'),
            ('Viya', 'Delhi', 'Delhi', 'Delhi', 'vy@gmail.com', '3581'),
            ('craft', 'Ahemdabad', 'Ahemdabad', 'Gujrat', 'cr@gmail.com', '1234')]

In [ ]:
cursor.executemany(sql_retailer,retailer)
cnx.commit()

#### brands

In [48]:
sql_brand =  ("INSERT INTO brand"
              "(b_name, b_des)"
              "VALUES (%s, %s)")

In [49]:
brand = [('Bookends', 'Book Company'),
         ('Brisk Books', 'Book Company'),
         ('Book Barn', 'Book Company'),
         ('Apple', 'Electronic Company'),
         ('Samsung', 'Electronic Company'),
         ('Lenovo', 'Electronic Company'),
         ('Dell', 'Electronic Company'),
         ('Hooker Furniture', 'Furniture Company'),
         ('Basset', 'Furniture Company'),
         ('Stanley', 'Furniture Company'),
         ('Broyhill', 'Furniture Company')]

In [50]:
cursor.executemany(sql_brand,brand)
cnx.commit()

#### Product Details data

In [66]:
sql_products =  ("INSERT INTO prod_details"
                 "(p_name, p_price, p_type, p_vndr_id, p_desc, p_quantity, p_add_dt, p_vw_count, p_vw_date, p_cat_id, p_b_id)"
                 "VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)")

In [68]:
products = [('Opening Space', 400,'book', 7, 'xxx', 3, '2015-10-1', 5, '2019-11-1', 1, 1),
            ('African Folktales', 900,'book', 7, 'xxx', 3, '2015-10-1', 15, '2019-11-1', 1, 3),
            ('Unchained Voice', 1500,'book', 6, 'xxx', 1, '2020-2-1', 25, '2019-10-1', 1, 3),
            ('Love Child', 2000,'book', 8, 'xxx', 3, '2019-10-1', 2, '2019-9-1', 1, 2),
            ('Oral Epics from Africa', 600,'book', 6, 'xxx', 8, '1995-10-1', 1, '2019-8-1', 1, 2),
            ('Wodden Side Table', 5000, 'furniture', 9, 'xxx', 2, '2015-09-01', 4, '2019-11-11', 3, 8),
            ('Shelves Shoe Cabinet', 10000, 'furniture', 9, 'xxx', 3, '2016-01-01', 6, '2019-12-12', 3, 9),
            ('Zigzag Corner Wall', 6000, 'furniture', 3, 'xxx', 1, '2017-12-12', 15, '2019-09-16', 3, 10),
            ('Foldeable Stool', 1000, 'furniture', 9, 'xxx', 2, '2018-01-19', 21, '2019-11-11', 3, 10),
            ('Bedside Tables', 2000, 'furniture', 3, 'xxx', 2, '2018-09-15', 11, '2019-11-06', 3, 11),
            ('Ward Robes', 8500, 'furniture', 4, 'xxx', 6, '2019-09-15', 9, '2019-12-06', 3, 11),
            ('Wash Stands', 6999, 'furniture', 4, 'xxx', 1, '2020-01-01', 23, '2019-10-05', 3, 8),
            ('Apple iphone-x', 100000, 'Mobile', 1, 'xxx', 10, '2019-10-01', 5, '2019-11-11', 2, 4),
            ('Apple Tablet 7gen', 60000, 'Tablet', 1, 'xxx', 5, '2019-11-11', 9, '2019-12-01', 2, 4),
            ('Apple Tablet 6gen', 30000, 'Tablet', 2, 'xxx', 6, '2019-12-01', 110, '2020-01-01', 2, 4),
            ('Apple Laptop', 150000, 'Laptop', 2, 'xxx', 3, '2019-12-05', 150, '2020-02-02', 2, 4),
            ('Xioami Redmi', 15000, 'Mobile', 5, 'xxx', 4, '2020-01-01', 200, '2019-11-30', 2, 12),
            ('Xioami Speaker', 11000, 'Speaker', 6, 'xxx', 3, '2020-02-05', 6, '2020-01-01', 2, 12),
            ('Lenvo Laptop', 50000, 'Laptop', 5, 'xxx', 5, '2020-02-01', 80, '2020-01-30', 2, 6),
            ('Dell Laptop', 75000, 'Laptop', 1, 'xxx', 1, '2019-10-01', 9, '2020-02-05', 2, 7)]

In [70]:
cursor.executemany(sql_products,products)
cnx.commit()

#### book data

In [63]:
sql_book =  ("INSERT INTO book"
                 "(book_p_id, book_author, book_publ_date)"
                 "VALUES (%s, %s, %s)")

In [64]:
book = [(1, 'Franz Kafka', '2007-01-01'),
        (2, 'Franz Kafka', '2017-11-01'),
        (3, 'Jaya Dev', '2018-11-01'),
        (4, 'Jayaprakash Narayan', '1997-11-01'),
        (5, 'G. B. Shaw', '2000-11-01')]

In [72]:
cursor.executemany(sql_book,book)
cnx.commit()

#### Review data

In [9]:
sql_review =  ("INSERT INTO review"
             "(pid, cid, cname, rating, review)"
             "VALUES (%s, %s, %s, %s, %s)")

In [17]:
review = [(13,6,'Akanksha',1,'Bad'),
          (13,5,'Lavish',3,'Average'),
          (12,1,'Rakesh',4,'Good'),
          (10,3,'Sohan',5,'Excellent'),
          (16,5,'Lavish',5,'Excellent'),
          (8,6,'Akanksha',1,'Good'),
          (5,1,'Rakesh',3,'Average'),
          (6,1,'Rakesh',4,'Good'),
          (1,1,'Rakesh',5,'Excellent')]

In [18]:
cursor.executemany(sql_review,review)
cnx.commit()

#### cart data

In [28]:
sql_cart = ("INSERT INTO carts"
             "(cart_cust_id, cart_add_date)"
             "VALUES (%s, %s)")

In [29]:
cart = [(2, '2020-01-10'),
        (4, '2020-02-01'),
        (5, '2020-01-30')]

In [30]:
cursor.executemany(sql_cart,cart)
cnx.commit()

#### cart details data

In [33]:
sql_cartd = ("INSERT INTO cart_details"
            "(cart_id, cart_prd_id, cart_prd_qunt)"
            "VALUES (%s, %s, %s)")

In [32]:
cart_details = [(1,19,1),
                (1,11,1),
                (2,18,2),
                (2,10,1),
                (3,16,1)]

In [34]:
cursor.executemany(sql_cartd,cart_details)
cnx.commit()

#### order data

In [41]:
sql_orders = ("INSERT INTO orders"
             "(ord_cust_id, ord_add_date)"
             "VALUES (%s, %s)")

In [42]:
orders = [(2, '2020-01-10'),
          (2, '2020-02-10'),
          (1, '2020-01-10'),
          (1, '2020-02-10'),
          (1, '2020-01-19'),
          (1, '2019-12-31'),
          (5, '2020-01-30')]

In [43]:
cursor.executemany(sql_orders,orders)
cnx.commit()

#### order details data

In [44]:
sql_ord_d = ("INSERT INTO ord_details"
            "(ord_id, ord_prd_id, ord_prd_qunt)"
            "VALUES (%s, %s, %s)")

In [45]:
ord_details = [ (1,19,1),
                (1,11,1),
                (2,18,2),
                (2,10,1),
                (3,16,1),
                (4,5,1),
                (5,6,2),
                (6,1,1),
                (7,8,2),
                (7,9,1)]

In [46]:
cursor.executemany(sql_ord_d,ord_details)
cnx.commit()

## DB Design Complete

## Queries of Assignment

#### Probelm -1

##### populate the tables with dummy record already done above.

#### problem-2

In [ ]:
query_2_1= ("delete from customer where cust_id = %s;")   
cursor.execute(query_2_1,('10',))
query_2_2 = ("""
update review
set
    cname = 'Anonymous'
where cid is null and cname is not null;
""")
cursor.execute(query_2_2)
cnx.commit()

##### Note :on delete set default is not supporting on my current db so I used this method.

#### Problem-3

In [96]:
query_3 = ("""UPDATE prod_details 
SET 
    p_price = (p_price * 0.9)
WHERE
    p_vw_count < %s AND p_price > %s AND TIMESTAMPDIFF(MONTH, p_vw_date, CURDATE()) < %s;
""")
cursor.execute(query_3,('10','5000', '3'))
cnx.commit()

#### Problem-4

In [ ]:
sql_cust_address =  ("INSERT INTO cust_address "
                    "(cust_id, city, state) "
                    "VALUES (%s, %s, %s)")

In [ ]:
cust_address = [ (4, 'Pune', 'Maharashtra'),
                 (4, 'Ahemdabad', 'Gujrat')]

cursor.executemany(sql_cust_address,cust_address)
cnx.commit()

#### Problem - 5

In [32]:
query_5 = ("select ret_name, ret_email from retailer where ret_city = %s")
cursor.execute(query_5, ('Delhi',))
result = cursor.fetchall()
print('Name','Email-ID')
for r in result:
    print(r[0],r[1])

Name Email-ID
Viya vy@gmail.com

#### Problem-6

In [54]:
query_6 = ("""select cust_name as 'Name', sum(TotalPurchase) as 'Total Amount' from customer natural join cust_address,
                     (select ord_cust_id, sum(ord_prd_qunt*p_price) as 'TotalPurchase'
                     from orders natural join ord_details, prod_details
                     where ord_prd_id = p_id
                     group by ord_id
                     having sum(ord_prd_qunt*p_price) >= %s ) as P
              where customer.cust_id = p.ord_cust_id and city = %s
              group by cust_id
          """)

cursor.execute(query_6,('5000', 'Mumbai'))
result = cursor.fetchall()
for r in result:
    print("%-20s %s"%(r[0],r[1]))

Sohan                160000

#### Problem-7

In [53]:
query_7 = ("""select p_name as 'Product Name', p_price as 'Product Price', b_name as 'Brand Name'
              from prod_details, brand
              where prod_details.p_b_id = brand.b_id and (p_name like %s or p_name like %s)
          """)
cursor.execute(query_7,('%Apple%','%Xioami%'))
result = cursor.fetchall()
for r in result:
    print("%-25s %-20s %s"%(r[0], r[1],r[2]))

Apple iphone-x            100000               Apple
Apple Tablet 7gen         60000                Apple
Apple Tablet 6gen         30000                Apple
Apple Laptop              150000               Apple
Xioami Redmi              15000                Xioami
Xioami Speaker            11000                Xioami

#### Problem-8

In [52]:
query_8 = ("""select p_name as 'Product Name', p_price as 'Product Price', p_quantity as 'Product Quantity'
              from prod_details
              where p_id in (
                              select ord_prd_id
                              from ord_details as D
                              natural join (
                                             select *
                                             from orders 
                                             where ord_cust_id = 1
                                             order by ord_add_date desc
                                             limit 3
                              ) as O
              )
           """)
cursor.execute(query_8)
result = cursor.fetchall()
for r in result:
    print("%-25s %-20s %s"%(r[0], r[1],r[2]))

Oral Epics from Africa    600                  8
Wodden Side Table         5000                 2
Apple Laptop              150000               3

#### Problem-9

In [57]:
query_9 = ("""select p_name as 'Product Name', p_price as 'Product Price', cart_prd_qunt as 'Quantity'
from prod_details,  carts natural join cart_details
where cart_cust_id = %s and cart_prd_id = p_id
""")
cursor.execute(query_9,('2',))
result = cursor.fetchall()
for r in result:
    print("%-25s %-20s %s"%(r[0], r[1],r[2]))

Lenvo Laptop              50000                1
Ward Robes                8500                 1

#### Problem-10

In [59]:
query_10 = ("""select p_name as 'Book Name', book_publ_date as 'Published Date'
from prod_details, book 
where  prod_details.p_type = 'book' and  prod_details.p_id = book.book_p_id and TIMESTAMPDIFF(MONTH, %s, book_publ_date)>=0;
""")
cursor.execute(query_10,('2001-01-01',))
result = cursor.fetchall()
for r in result:
    print("%-25s %-20s"%(r[0], r[1]))

Opening Space             2007-01-01
African Folktales         2017-11-01
Unchained Voice           2018-11-01

#### Problem-11

In [60]:
query_11 = ("""select p_name as 'Product Name', p_price as 'Product Price'
from prod_details
where p_cat_id = 2 and p_price between %s and %s;
""")
cursor.execute(query_11,('10000','50000'))
result = cursor.fetchall()
for r in result:
    print("%-25s %-20s"%(r[0], r[1]))

Apple Tablet 6gen         30000
Xioami Redmi              15000
Xioami Speaker            11000
Lenvo Laptop              50000

#### Problem-12

In [66]:
query_12 = ("""select p_name as 'Furniture Name'
from prod_details, retailer
where prod_details.p_cat_id = 3 and prod_details.p_vndr_id = retailer.ret_id and retailer.ret_name = %s;
""")
cursor.execute(query_12,('IKea',))
result = cursor.fetchall()
for r in result:
    print(r[0])

Wodden Side Table
Shelves Shoe Cabinet
Foldeable Stool

#### Problem-13

In [67]:
query_13= ("""select p_name as 'Product Name', p_price as 'Product Price'
from prod_details
where p_cat_id = 2 and p_type = %s 
order by p_price asc;
""")
cursor.execute(query_13,('Laptop',))
result = cursor.fetchall()
for r in result:
    print("%-25s %-20s"%(r[0], r[1]))

Lenvo Laptop              50000
Dell Laptop               75000
Apple Laptop              150000

#### Problem-14

In [72]:
query_14 = ("""select * from prod_details where TIMESTAMPDIFF(MONTH, %s , p_add_dt)>=0;""")
cursor.execute(query_14,('2000-07-09',))
result = cursor.fetchall()
print("%-25s %-20s"%("Product Name", "Product Add Date"))
for r in result:
    print("%-25s %-20s"%(r[1], r[7]))

Product Name              Product Add Date
Opening Space             2015-10-01
African Folktales         2015-10-01
Unchained Voice           2020-02-01
Love Child                2019-10-01
Wodden Side Table         2015-09-01
Shelves Shoe Cabinet      2016-01-01
Zigzag Corner Wall        2017-12-12
Foldeable Stool           2018-01-19
Bedside Tables            2018-09-15
Ward Robes                2019-09-15
Wash Stands               2020-01-01
Apple iphone-x            2019-10-01
Apple Tablet 7gen         2019-11-11
Apple Tablet 6gen         2019-12-01
Apple Laptop              2019-12-05
Xioami Redmi              2020-01-01
Xioami Speaker            2020-02-05
Lenvo Laptop              2020-02-01
Dell Laptop               2019-10-01

#### Problem-15

In [79]:
query_15 = ("""select p_name as 'Book Name'
from prod_details, book 
where  prod_details.p_type = 'book' and  prod_details.p_id = book.book_p_id and book_author=%s;
""")
cursor.execute(query_15,('Franz Kafka',))
result = cursor.fetchall()
print("%15s"%("Book_Name"))
for r in result:
    print("%-25s"%(r[0]))

      Book_Name
Opening Space
African Folktales

#### Problem-16

In [80]:
query_16 = ("""select cust_name as 'Name', cust_email as 'Email-id', sum(cart_prd_qunt) as 'Quantity'
from customer, carts natural join cart_details
where customer.cust_id = carts.cart_cust_id
group by cust_id
having sum(cart_prd_qunt)<3
""")
cursor.execute(query_16)
result = cursor.fetchall()
print("%-25s %-25s %s"%("Name","Email-id","Quantity"))
for r in result:
    print("%-25s %-25s %s"%(r[0],r[1],r[2]))

Name                      Email-id                  Quantity
Ajay                      ajy@yahoo.com             2
Akshita                   akki@yahoo.com            1

#### Problem-17

In [83]:
query_17 = ("""select ord_id, MAX(ProductOrdered) as 'Max Ordered'
               from (
                     select ord_id, SUM(ord_prd_qunt) as 'ProductOrdered'
                     from orders natural join ord_details
                     group by ord_id 
                    ) as bests
""")
cursor.execute(query_17)
result = cursor.fetchall()
print("%-25s %-25s"%("Order_ID","Max Ordered"))
for r in result:
    print("%-25s %-25s"%(r[0],r[1]))

Order_ID                  Max Ordered
1                         3

#### Problem-18

In [89]:
query_18 = ("""select p_name as 'Product Name', p_price as 'Product Price', timestampdiff(day,p_add_dt,CURDATE()) as 'Added days before'
from prod_details
where timestampdiff(day,p_add_dt,CURDATE())<=%s;
""")
cursor.execute(query_18,('30',))
result = cursor.fetchall()
print("%-25s %-25s %s"%("Product Name","Product Price","Added days before"))
for r in result:
    print("%-25s %-25s %s"%(r[0],r[1],r[2]))

Product Name              Product Price             Added days before
Unchained Voice           1500                      27
Xioami Speaker            11000                     23
Lenvo Laptop              50000                     27

#### Problem-19

In [90]:
query_19 = ("""select ret_name, ret_email
               from retailer
               where ret_id in 
                      (select p_vndr_id 
                       from orders natural join ord_details, prod_details
                       where ord_cust_id = %s and ord_prd_id = p_id);
""")
cursor.execute(query_19,('1',))
result = cursor.fetchall()
print("%-25s %-25s"%("Retailer Name","Email-ID"))
for r in result:
    print("%-25s %-25s"%(r[0],r[1]))

Retailer Name             Email-ID
DASM                      da@gmail.com
luxe                      lu@gmail.com
Viya                      vy@gmail.com
IKea                      ikea@outlook.com

#### Problem-20

In [93]:
query_20=("""insert into Diwali_Deals (p_name, p_price, p_type, p_vndr_id, p_desc, p_quantity, p_add_dt, p_vw_count, p_vw_date, p_cat_id, p_b_id)
select p_name, (p_price*.95), p_type, p_vndr_id, p_desc, p_quantity, p_add_dt, p_vw_count, p_vw_date, p_cat_id, p_b_id
from prod_details 
where timestampdiff(day,p_add_dt,CURDATE())<=90;
""")
cursor.execute(query_20)
cnx.commit()

#### Problem-21

In [94]:
query_21 = ("""select p_name as 'Product Name' , p_price as 'Product Price'
from orders natural join ord_details, prod_details, review
where ord_prd_id = p_id and ord_cust_id = 1 and p_id = review.pid and rating >=3
limit 10
""")
cursor.execute(query_21)
result = cursor.fetchall()
print("%-25s %-25s"%("Product Name","Product Price"))
for r in result:
    print("%-25s %-25s"%(r[0],r[1]))

Product Name              Product Price
Apple Laptop              150000
Oral Epics from Africa    600
Wodden Side Table         5000
Opening Space             400

In [63]:
cnx.close()